
    :root {
        --g1: rgb(98, 0, 234);
        --g2: rgb(236, 64, 122);
      }
      
      @keyframes background-pan {
        from {
          background-position: 0% center;
        }
        
        to {
          background-position: -200% center;
        }
      }
    
      .successLoaderContainer {
        animation: background-pan 10s linear infinite;
        transition: 1s;
        /* background: linear-gradient(
          to right,
          var(--g1),
          var(--g2),
          var(--g1)
        ); */
        background-size: 200%;
        height: 670px;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        opacity: 0;
        z-index: -5;
      }
    
      .successLoaderContainer.OpacityActive
      {
        animation: background-pan 10s linear infinite;
        transition: 1s;
        /* background: linear-gradient(
          to right,
          var(--g1),
          var(--g2),
          var(--g1)
        ); */
        background-size: 200%;
        height: 670px;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        opacity: 1;
        z-index: 20;
      }
      .darkbackground
      {
        position: absolute;
        height: 670px;
        width: 100%;
        transition: 0.5s;
        animation: background-pan 10s linear infinite;
        background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
        top: 0%;
        left: 0%;
        backdrop-filter: blur(3px);
        z-index: 19;
      }
      .darkbackground.noBackground
      {
        position: absolute;
        height: 670px;
        width: 100%;
        background:transparent;
        top: 0%;
        transition: 0.5s;
        left: 0%;
        backdrop-filter: blur(3px);
        z-index: 19;
      }
    
    
      .sucessLoader
    {
        position: absolute;
        height: 670px;
        width: 100%;
        top: 0%;
        /* transform: translateY(585px); */
        transition: 0.5s;
        left: 0;
        background: #11111160;
        backdrop-filter: blur(3px);
        z-index: 20;
    
    }
      
    
      
      .successLoaderContainer.toggled {
        animation: none;
      }
      
      .successLoaderContainer.toggled > #title {
        opacity: 0;
      }
      
      .successLoaderContainer.toggled > #icon {
        opacity: 1;
      }
      
      .successLoaderContainer.toggled > #tiles 
     {
        opacity: 0.1 !important;
      }
      
      .centered {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      #tiles {
        height: calc(100vh - 5px);
        width: calc(100vw - 5px);
        position: relative;
        z-index: 2;
      
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: repeat(var(--rows), 1fr);
      }
      
      .tile {
        cursor: pointer;
        position: relative;
      }
      
      .tile:hover:before {
        background-color: rgb(30, 30, 30);
      }
      
      .tile:before {
        background-color: rgb(15, 15, 15);
        content: "";
        inset: 0.5px;
        position: absolute;
      }
      
      #title {
        color: white;
        position: absolute;
        font-family: "kanit", sans-serif;
        font-size: 60px;
        margin: 0px;
        pointer-events: none;
        transition: 0.5s;
        width: 90%;
        z-index: 3;
        left: 50%;
        top: 50%;
        text-shadow: 0 0 10px #fff;
        transform: translateX(-50%) translateY(-50%);
        
      }
      
      #title > .fancy {
        color: var(--g2);
        font-family: 'Dancing Script', cursive;
        font-size: 1.5em;
        line-height: 0.9em;
        text-shadow:  0 0 5px var(--g2);
      }
      
      #icon {
        color: rgba(255, 255, 255, 0.15);
        font-size: 80vmin;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1200ms ease;
        z-index: 1;
      }
      
    
    
    
    