
@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Dancing+Script:wght@500&family=Dosis:wght@800&family=Glass+Antiqua&family=Kanit:wght@300&family=Prompt:wght@300&family=Reenie+Beanie&family=VT323&display=swap');

.profileContainer.active
{
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    width: 100%;
    top: 13%;
    transform: translateY(0);
    transition: 0.5s;
    left: 0;
    background: #00081fa2;
    backdrop-filter: blur(10px);
    z-index: 15;
    overflow: hidden ;
    display: block;
    z-index: 15;
    opacity: 1;
}

.profileContainer
{
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 500px;
    width: 100%;
    top: 13%;
    transform: translateY(580px);
    transition: 0.5s;
    left: 0;
    background: #00081fa2;
    backdrop-filter: blur(10px);
    z-index: 15;
    overflow: hidden ;
    display: block;
    z-index: -15;
    opacity: 0;
}

.card-container {
    top: 2%;
	background-color: transparent;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: absolute;
	width: 350px;
	max-width: 100%;
    height: 100%;
    left: 38%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 33%;
	left: 50%;
    transform: translateX(-50%);
}


.profileName {
     position: relative;
	margin: 15px 0;
    font-size: 25px;
    color: #ffc;
    width: 80%;
    left: 1%;
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Afacad', sans-serif;
    transition: 0.5s;
    pointer-events: none;
    top: 48%;
    -webkit-tap-highlight-color: transparent;
    
    

}
.profileName:focus
{
    border-bottom: 2px solid rgb(0, 255, 76);
    transition: 0.5s;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

.profileTagLine {
	font-size: 16px;
	line-height: 21px;
    margin: 10px 0;
    position: absolute;
    top: 40%;
    width: 90%;
    left: 5%;
}



.card-container .round {
	border: 1px solid #ffc;
	border-radius: 50%;
	padding: 7px;
    height: 78px;
    width: 78px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: scale(2);
    transform: translateX(-50%);
    cursor: pointer;
    background-size: cover;

}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
    position: absolute;
    top: 63%;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;

}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}


#caretDownProfile
{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: #ffc;
    z-index: 10;

}