
    .submitEntryCardForgetPassowrd
    {
        height: 60px;
        width: 60%;
        position: relative;
        top: 85%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 15;
        font-size: 20px;
        font-family: 'Kanit';
        border-radius: 25px;
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
        border: none;
        outline: none;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
    }
    
    .otpInput
    {
        position: absolute;
        height: 50px;
        top: 150px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        border: none;
        outline: none;
        width: 76%;
        max-width: 76%;
        left: 6.5%;
        border-radius: 20px;
        font-weight: 700;
        background: #111111fa;
        backdrop-filter: blur(10px);
        color: #fff;
        font-size: 20px;
        display: none;
        z-index: 15;
        white-space: -65px;
    }
    .otpInputMask
    {
       position: absolute;
        height: 60px;
        top: 146px;
        border: none;
        outline: none;
        width: 80%;
        left: 5%;
        border-radius: 20px;
        font-weight: 700;
        text-indent: 40px; 
        background: #3A1C71;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: none;
    
        color: #fff;
        z-index: 12;
        
    }
    
    .otpInput::placeholder
    {
        color: #fff;
        font-size: 20px;
        font-family: 'Kanit';
        mix-blend-mode: screen;
    
    }
    #validOTP
    {
        position: absolute;
        top: 165px;
        left: 88%;
        transition: 0.5s;
        transform: translateX(150px);
        z-index: 12;
        font-size: 24px;
        color: #00ff95;
        display: none;
    }
    
    .changePassword
    {
        position: absolute;
        height: 50px;
        padding-right: 80px;
        padding-left: 20px;
        box-sizing: border-box;
        top: 225px;
        border: none;
        outline: none;
        width: 86%;
        left: 6.5%;
        border-radius: 20px;
        font-weight: 700; 
        transition: 0.5s;
        background: #111111fa;
        backdrop-filter: blur(10px);
        color: #fff;
        font-size: 20px;
        z-index: 15;
        display: none;
    }
    .changePasswordMask
    {
       position: absolute;
        height: 60px;
        top: 221px;
        border: none;
        outline: none;
        width: 90%;
        left: 5%;
        border-radius: 20px;
        font-weight: 700;
        text-indent: 40px; 
        background: #000046;  /* fallback for old browsers */
        background: linear-gradient(to right, #1CB5E0, #ff00b3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #fff;
        z-index: 12;
        display: none;
        
    }
    
    .changePassword::placeholder
    {
        color: #fff;
        font-size: 19px;
        font-family: 'Kanit';
        mix-blend-mode: screen;
    
    }
    #GenPwdforPasswordChange
    {
        position: relative;
        font-size: 20px;
        color: #ffc;
        z-index: 15;
        top: 240px;
        left: 73%;
        cursor: pointer;
        display: none;
    }
    
    
    #SeePwdforPasswordChange
    {
        position: absolute;
        font-size: 20px;
        color: rgb(0, 255, 85);
        z-index: 15;
        top: 240px;
        left: 83%;
        cursor: pointer;
        display: none;
    }
    
    .otpInputUsername
    {
        position: absolute;
        height: 50px;
        top: 75px;
        padding-right: 40px;
        padding-left: 20px;
        box-sizing: border-box;
        border: none;
        outline: none;
        width: 86%;
        left: 6.5%;
        border-radius: 20px;
        font-weight: 700;
        background: #111111fa;
        backdrop-filter: blur(10px);
        transition: 0.5s;
        color: #fff;
        font-size: 20px;
        z-index: 15;
        /* display: none; */
    }
    .otpInputUsernameMask
    {
       position: absolute;
        height: 60px;
        top: 71px;
        border: none;
        outline: none;
        width: 90%;
        left: 5%;
        border-radius: 20px;
        font-weight: 700;
        text-indent: 40px; 
        background-color: #FBAB7E;
        background-image: linear-gradient(62deg, #b3ffab 0%, #12fff7 100%);
        
        color: #fff;
        z-index: 12;
        /* display: none; */
        
    }
    
    .otpInputUsername::placeholder
    {
        color: #fff;
        font-size: 19px;
        font-family: 'Kanit';
        mix-blend-mode: screen;
    
    }
    .ErrorForgetPassword
    {
        position: absolute;
        top: 5px;
        left: 50%;
        font-size:15px ;
        transform: translateX(-50%);
        color: #ffee00;
        font-family: 'Kanit';
        font-weight: 400;
        word-wrap: break-word;
        width: 100%;
        text-align: center;
        height: 250px;
    }
    .ForgetPasswordDec
    {
        position: absolute;
        top: 90%;
        left: 50%;
        font-size:13px ;
        transform: translateX(-50%);
        color: #ffc;
        font-family: 'Kanit';
        font-weight: 400;
        word-wrap: break-word;
        width: 100%;
        text-align: center;
        height: 250px;
    }
    #reLogin
    {
        position: absolute;
        color: #ffc;
        font-size: 2em;
        top: 80%;
        transform: translateX(-50%);
        left: 90%;
        border-radius: 50%;
        cursor: pointer;
    
    }
    